/InfotrackSearch/.vs/InfotrackSearch/v16/.suo
/InfotrackSearch/Application/obj
/InfotrackSearch/Application/bin/Debug/netcoreapp3.1
/InfotrackSearch/Domain/bin/Debug/netcoreapp3.1
/InfotrackSearch/Domain/obj
*.suo
/InfotrackSearch/Application.Tests/obj
/InfotrackSearch/Presentation.WebAPI/obj
/InfotrackSearch/Application.Tests/bin/Debug/netcoreapp3.1
/InfotrackSearch/Presentation.WebAPI/bin/Debug/netcoreapp3.1
/InfotrackSearch/Infrastructure/bin/Debug/netcoreapp3.1
/InfotrackSearch/Infrastructure/obj
/InfotrackSearch/.vs/InfotrackSearchService/config
/InfotrackSearch/Infrastructure.Tests/bin/Debug/netcoreapp3.1
/InfotrackSearch/Infrastructure.Tests/obj
/InfotrackSearch/.vs/InfotrackSearchService/v16/TestStore/0
/InfotrackSearch/.vs/InfotrackSearchService/DesignTimeBuild
