/InfotrackSearch/.vs/InfotrackSearch/v16/.suo
/InfotrackSearch/Application/obj
/InfotrackSearch/Application/bin/Debug/netcoreapp3.1
/InfotrackSearch/Domain/bin/Debug/netcoreapp3.1
/InfotrackSearch/Domain/obj
*.suo
/InfotrackSearch/Application.Tests/obj
/InfotrackSearch/Presentation.WebAPI/obj
/InfotrackSearch/Application.Tests/bin/Debug/netcoreapp3.1
/InfotrackSearch/Presentation.WebAPI/bin/Debug/netcoreapp3.1
